AGENT_ID=  # e.g. "cardiology_protocols"
CONFIG_PATH=
APP_CONFIG_PATH=
HF_TOKEN=
QDRANT_URL=
OLLAMA_URL=
INDEX_ROOT=
SECRET_KEY= # for generating access tokens (jwt)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=