agent/__pycache__
agent/.chainlit*
/build/
/CardiologyGenAI_AgenticRAG.egg-info/

src/agentic_rag/retriever_tests

# Python cache
__pycache__/
*.py[cod]
*$py.class

/.env
/.env.leonardo
/.env.spark
/uv.lock
/docs/build/

/logs/
